body {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
button {
  background: rgb(100, 68, 100);
  border: 4px solid rgb(100, 68, 100);
  border-radius: 30px;
  color: lightgray;
  padding: 10px 30px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: rgba(100, 68, 100, 0.6);
  border: 4px solid rgb(100, 68, 100);
  color: lightgray;
}

input {
  border: 4px solid rgb(100, 68, 100);
  background: rgba(228, 228, 245, 0.7);
  border-radius: 30px;
  padding: 10px 15px;
  width: 550px;
}
li {
  list-style: none;
}
ul {
  line-height: 1.25;
  padding: 0px;
}
.container {
  background: linear-gradient(rgb(226, 115, 226), pink, rgb(156, 156, 250));
  border-radius: 30px;
  border: 5px solid rgb(100, 68, 100);
  margin-top: 75px;
  max-width: 850px;
  padding: 50px 40px;
}
.search-box {
  text-align: center;
}

.middle-icon-temp {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.main-temp {
  color: rgb(100, 68, 100);
  font-size: 70px;
  font-weight: bold;
  padding: 0px 0px;
  margin: 0;
}
.main-weather-icon {
  padding: 5px 0px;
  margin: 0;
  position: relative;
}
.other-text {
  font-size: 22px;
  text-align: right;
  color: rgb(100, 68, 100);
  margin-top: 18px;
  transition: all 300ms ease-in-out;
}
.phoenix-text {
  font-size: 40px;
  color: rgb(100, 68, 100);
  padding: 0px 0px;
  text-align: left;
}
.units {
  position: relative;
  top: 23px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  color: rgb(100, 68, 100);
  text-align: right;
}
.weather-box {
  border: 1px solid rgba(153, 87, 153, 0.2);
  border-radius: 20px;
  font-size: 18px;
  max-height: 150px;
  color: rgb(100, 68, 100);
  transition: all 200ms ease-in-out;
}
.weather-box:hover {
  background: rgba(153, 87, 153, 0.2);
}

#date-text,
#weather-description {
  font-size: 22px;
  text-transform: capitalize;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: rgb(100, 68, 100);
}
#fahrenheit-link:hover {
  color: rgb(180, 110, 180);
}
#celsius-link:hover {
  color: rgb(180, 110, 180);
}
.forecast-day {
  font-size: 25px;
}
.forecast-icons {
  width: 60px;
}
@media (max-width: 500px) {
  .search-box {
    padding: 0;
    font-size: 12px;
  }
  .search-box input {
    width: 155px;
  }
  .search-box button {
    width: 75px;
    margin: 0;
    padding: 10px;
  }
  .weather-box {
    flex-wrap: wrap;
    width: 120px;
    align-items: center;
  }
  #humidity,
  #wind,
  #weather-description,
  #date-text {
    font-size: 15px;
  }
  #city-text {
    font-size: 30px;
  }
}
@media (max-width: 740px) {
  input {
    width: 400px;
  }
  .middle-content {
    display: flex;
    flex-wrap: wrap;
  }
  .other-text {
    text-align: center;
  }
  .phoenix-text {
    text-align: center;
    position: relative;
    top: 30px;
  }
  .middle-icon-temp {
    position: relative;
    top: 30px;
  }
}

@media (max-width: 540px) {
  input {
    width: 275px;
  }
  .middle-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container {
    height: 100vh;
  }
}
@media (max-width: 375px) {
  .container {
    height: 1000px;
    margin: 0;
  }
  .phoenix-text,
  .other-text {
    text-align: center;
    position: relative;
    left: 100px;
  }
  #forecast {
    position: relative;
    left: 30px;
  }
  .units span {
    display: flex;
    flex-direction: row;
  }
}
