body {
  text-align: center;
}
button {
  background: #364547;
  border: 4px solid #364547;
  border-radius: 30px;
  color: lightgray;
  padding: 10px 30px;
  font-family: "Open Sans Condensed", sans-serif;
  transition: all 300ms ease-in-out;
}
button:hover {
  background: #979797;
  color: #364547;
  font-weight: bold;
}

input {
  border: 4px solid #364547;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: "Open Sans Condensed", sans-serif;
  width: 550px;
}
footer {
  font-family: "Open Sans Condensed", sans-serif;
}
li {
  list-style: none;
}
ul {
  line-height: 1.25;
  padding: 0px;
}
.container {
  background: linear-gradient(darkgray, lightgray, white);
  border-radius: 30px;
  border: 5px solid #364547;
  margin-top: 75px;
  max-width: 850px;
  padding: 50px 40px;
}
.search-box {
  text-align: right;
}

.main-temp {
  color: #364547;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 70px;
  font-weight: bold;
  padding: 0px 0px;
}
.main-weather-icon {
  /*font-size: 70px;
  color: #364547;*/
  padding: 5px 0px;
}
.other-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  text-align: right;
  color: #364547;
  margin-top: 18px;
  transition: all 300ms ease-in-out;
}
/*.other-text:hover {
  color: #979797;
}*/
.phoenix-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  color: #364547;
  padding: 0px 0px;
  text-align: left;
}
.weather-box {
  border: 2px solid #364547;
  border-radius: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  max-height: 150px;
  color: #364547;
  transition: all 300ms ease-in-out;
}
.weather-box:hover {
  /*background: #979797;*/
  background: lightgrey;
}
.weather-box-icon {
  color: #364547;
  font-size: 50px;
}
#date-text,
#weather-description {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
}
